{% extends 'core/base.html' %}


{% block content %}
<div class="card shadow-lg p-5 text-center">
  <h1 class="mb-3">🤖 AI Interviewer Platform</h1>
  <p class="text-muted mb-4">
    Conduct smart, voice-enabled AI interviews and evaluate candidates efficiently.
  </p>

 <div class="d-flex justify-content-center gap-4">
  <a href="/register/" class="btn btn-success btn-lg px-4">
    Register
  </a>

  <a href="/accounts/login/" class="btn btn-primary btn-lg px-4">
    Login
  </a>
</div>
</div>
{% endblock %}
