{% extends 'core/base.html' %}
{% block content %}

<h2 class="text-white fw-bold mb-4">👔 HR Dashboard</h2>

<div class="row g-4">

  
  <div class="col-md-4">
    <div class="card dashboard-card p-4 text-center">
      <h5>➕ Create Interview</h5>
      <p class="text-muted small">Create new interview for candidates</p>
      <a href="/hr/create-interview/" class="btn btn-primary mt-2">
        Create
      </a>
    </div>
  </div>

 
  <div class="col-md-4">
    <div class="card dashboard-card p-4 text-center">
      <h5>📋 View Interviews</h5>
      <p class="text-muted small">See all created interviews</p>
      <a href="/hr/interviews/" class="btn btn-success mt-2">
        View
      </a>
    </div>
  </div>

  
  <div class="col-md-4">
    <div class="card dashboard-card p-4 text-center">
      <h5>🧑‍💻 View Applications</h5>
      <p class="text-muted small">Review candidate interview results</p>
      <a href="/hr/applications/" class="btn btn-warning mt-2">
        Open
      </a>
    </div>
  </div>

</div>

{% endblock %}
